<div ng-controller="MyController" class="container">

    <div fg-tabs class="needs-some-more-space">

        <div fg-tabs-pane="Editor">
            <form class="form-horizontal" name="myForm.$state">
                <div fg-edit fg-schema="myForm.schema"></div>
            </form>
        </div>

        <div fg-tabs-pane="Preview" disabled="myForm.$state.$invalid">
            <div ng-include="'app/view/preview.html'"></div>
        </div>

        <div fg-tabs-pane="JSON">
            <div jsonify="myForm.schema"></div>
        </div>

    </div>

</div>
