<form novalidate class="form-horizontal" name="previewForm" ng-init="myForm.$data = {}" action="">

    <fieldset>

        <legend>
            <div class="row">
                <div class="col-sm-offset-3 col-sm-3">Form preview</div>
            </div>
        </legend>

        <div fg-form fg-form-data="myForm.$data" fg-schema="myForm.schema"></div>

    </fieldset>

    <div ng-include="'app/view/form-status.html'"></div>

    <div class="row">

        <label class="control-label col-sm-3">Send</label>

        <div class="col-sm-9">
            <button type="submit" class="btn btn-primary" ng-class="{ disabled: previewForm.$invalid }">Submit</button>
        </div>
    </div>

</form>